*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:rgb(172, 165, 165);
    height: 65px;
    align-items: center;
}
nav div{
    display: flex;
    align-items: center;
}
nav div h3{
    font-size: 27px;
    color:aqua;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    cursor:pointer;
}
nav li{
    padding: 12px;
    font-size: larger;
    
}
nav li a{
    text-decoration: none;
    color:white;
}
nav li:hover{
    background-color: lightgrey;

}
.banner-container{
    height: 100vh;
    background-image: url('/asset/image/background.jpg');
    /* linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0,4)); */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
      
}
.title{
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    color:white;
}
.colorable{
    color:red;
}
.description{
    color:white;
    font-size: 20px;
    padding: 10px;
   
}
.btn{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    
}
.btn2{
    background-color: white;
    color:red;
}